<div class="container show-container">

  <h2><%= @task.name %></h2>
  <% if @task.status == true %>
        <p><%= "Task is done!" %></p>
      <% else %>
        <p><%= "Task is NOT done!" %></p>
      <% end %>
  <div class="action-btns">
    <%= link_to "Back to Overview", tasks_path, class:"btn btn-primary" %>
  </div>
</div>
